name: Build PDF with LaTeX

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up LaTeX
      run: |
        sudo apt-get update
        sudo apt-get install -y texlive-xetex texlive-bibtex-extra bibtex2html

    - name: Compile LaTeX document
      working-directory: latex
      run: |
        xelatex -interaction=nonstopmode -halt-on-error lib.tex
        bibtex lib
        xelatex -interaction=nonstopmode -halt-on-error lib.tex
        xelatex -interaction=nonstopmode -halt-on-error lib.tex

    - name: Upload PDF artifact
      uses: actions/upload-artifact@v4
      with:
        name: pdf
        path: latex/lib.pdf
